-inherit base.slim

-block pagina
  <body id="page4">
    -include cabecalho_conteudos.slim
        <div class="wrapper">
          <div class="mainContent">
            -block conteudo

        </div>
          </div>
          <div class="aside">
            <div class="box1">
              <div class="top">
                <div class="bottom">
                  <div class="inner">
                    <h3>Caronas</h3>
                    <ul class="img-list">
                      <li> <img src="../static/Imagens/img3.jpg" alt="" />
                        <h4><strong>Nome Usuário</strong><br />
                          <a href="#">Origem-Destino</a></h4>
                         18/06/2013 </li>
                      <li> <img src="../static/Imagens/img3.jpg" alt="" />
                        <h4><strong>Nome Usuário</strong><br />
                          <a href="#">Origem-Destino</a></h4>
                         18/06/2013 </li>
                      <li> <img src="../static/Imagens/img3.jpg" alt="" />
                        <h4><strong>Nome Usuário</strong><br />
                          <a href="#">Origem-Destino</a></h4>
                         18/06/2013 </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
