<!-- START PAGE SOURCE -->
<div id="header" class="small">
  <div class="container">
    -include navegacao.slim
    <div class="logo-box">
      <h1><a href="index.html"><strong>Carona</strong> Sustentável</a></h1>
    </div>
    <img style="top:50px;" src="../static/Imagens/logo-pequeno.png" alt="" class="png extra-img"/>
  <h1 style="font-size:20px;font-weight:bold;top:5px;float:right;"><a href="${request.route_url("logout")}" class="a_inicial">Sair</a></h1>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="indent">
