-inherit base_entrada.slim

-block conteudo
  <div class="field" title="Digite seu nome de usuário" id="item-deformField1">
  <label class="desc" title="Digite seu nome de usuário" for="deformField1">E-mail<span class="req" id="req-deformField1"> *</span></label>
  <input type="text" name="nome" value="" id="deformField1"/>
  <!-- <p class="error" id="error-deformField1"></p> !-->
  </div>
  <div class="field" title="Digite sua senha" id="item-deformField2">
  <label class="desc" title="Digite sua senha" for="deformField2">Senha <span class="req" id="req-deformField2"> *</span></label>
  <input type="password" name="senha" value="" id="deformField2" size="20"/>
  <!-- <p class="error" id="error-deformField2"></p> !-->
  </div>
  <div class="alignleft"><button id="deformEntrar" name="Entrar" type="button" onClick="location.href='../templates/cadastro.html'" class="button-menor" value="Entrar">Cadastro</button></div>
  <div class="alignright"><button id="deformEntrar" name="Entrar" type="submit" class="button-menor" value="Entrar">Login</button></div>
