-inherit base_entrada.slim

-block conteudo
  <h2>Login</h2>
  <div class="wrapper">
    <form id="deform" action="" method="POST" enctype="multipart/form-data" accept-charset="utf-8" class="deform">
      <fieldset class="deformFormFieldset">
        <input type="hidden" name="_charset_" />
        <input type="hidden" name="__formid__" value="deform"/>
        <div class="field" title="Digite seu nome de usuário" id="item-deformField1">
        <label class="desc" title="Digite seu nome de usuário" for="deformField1">E-mail<span class="req" id="req-deformField1"> *</span></label>
        <input type="text" name="nome" value="" id="deformField1"/>
        <!-- <p class="error" id="error-deformField1"></p> !-->
        </div>
        <div class="field" title="Digite sua senha" id="item-deformField2">
        <label class="desc" title="Digite sua senha" for="deformField2">Senha <span class="req" id="req-deformField2"> *</span></label>
        <input type="password" name="senha" value="" id="deformField2" size="20"/>
        <!-- <p class="error" id="error-deformField2"></p> !-->
        </div>
        <div class="alignleft"><button id="deformEntrar" name="Entrar" type="button" onClick="location.href='${request.route_url("criar_perfil")}'" class="button-menor" value="Entrar">Cadastro</button></div>
        <div class="alignright"><button id="deformEntrar" name="Entrar" type="submit" class="button-menor" value="Entrar">Login</button></div>
