<ul class="nav">
  <li class="item1"><a href="${request.route_url("inicial")}">home</a></li>
  <li class="item2"><a href="${request.route_url("listar_usuarios",busca="")}">Usuários</a></li>
  <li class="item3"><a href="${request.route_url("listar_rotas",busca="")}" class="current">Caronas</a></li>
  <li class="item4"><a href="contact-us.html">contact us</a></li>
</ul>
