-inherit base_conteudos.slim

-block conteudo
    <div class="wrapper">
        <div class="mainContent">
			<h2 style="font-size:25px;"><span>Patrocinadores</span> Carona Sustentável!</h2>
			<span>Troque seus pontos verdes por produtos em um de nossos patrocinadores</span>
			<div class="wrapper">
				<ul style="width:200px;float:left;">
					<li><img src="../static/Imagens/logo_patrocinadores/tam.gif" alt="" /></li>
					<li><img src="../static/Imagens/logo_patrocinadores/vivo.jpg" alt="" /></li>
					<li><img src="../static/Imagens/logo_patrocinadores/americanas.jpg" alt="" /></li>
					<li><img src="../static/Imagens/logo_patrocinadores/dell.png" alt="" /></li>
				</ul>
				<ul style="width:200px;float:right;">					
					<li><img src="../static/Imagens/logo_patrocinadores/gol.jpg" alt="" /></li>
					<li><img src="../static/Imagens/logo_patrocinadores/tim.jpg" alt="" /></li>
					<li><img src="../static/Imagens/logo_patrocinadores/ponto_frio.gif" alt="" /></li>
					<li><img src="../static/Imagens/logo_patrocinadores/sony.jpg" alt="" /></li>
				</ul>
							

			</div>
        </div>
