-inherit base_conteudos.slim

-block conteudo
      <h2><span>Perfil de </span> ${nome}</h2>
        <div class="wrapper">
          -if perdido
            Usuário não encontrado!
          -elif nome
            <ul>
              <img style="float:left;padding-top:7px;" src="../static/Imagens/img3.jpg" alt="" />
              <ul style="float:left;width:450px;height:98px;">
				<li><img style="margin:2px;" src="../static/Imagens/recomendo.jpg" alt="" /></li>
                <li style="float:left;"><img style="margin:2px;" src="../static/Imagens/pontos_verdes.png" alt="" /> <span>50</span></li>							
                <li style="float:left;"><img style="margin:2px;" src="../static/Imagens/bom.gif" alt="" /> <span>50</span></li>																				
                <li style="float:left;"><img style="margin:2px;" src="../static/Imagens/ruim.png" alt="" /> <span>0</span></li>							
              </ul>
              <li>Nome: ${nome}</li>
              <li>CEP: ${cep}</li>
              <li>Ano de Habilitação: ${ano_habilitacao}</li>
              <li>Peso: ${peso}</li>
              <li>Altura: ${altura}</li>
              <li>Idade: ${idade}</li>
              <li>Fuma: ${fumante}</li>
              <li>Falante ${falante}</li>
              <li>Possui cachorros: ${cachorro}</li>
              -if e_o_proprio
                <ul>				  
                  <li><a href="${request.route_url("patrocinadores")}">Troque seus Pontos Verdes</a></li>
                          <li><a href="${request.route_url("editar_perfil",nome=nome)}">Editar Perfil</a></li>
                          <li><a href="${request.route_url("listar_automoveis",busca="")}">Automóveis</a></li>
                          <li><a href="${request.route_url("adicionar_automovel",nome=nome)}">Adicionar Automóvel</a></li>
                          <li><a href="${request.route_url("adicionar_rota",nome=nome)}">Adicionar Rota</a></li>
                </ul>
            </ul>
